In [33]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [34]:
data=pd.read_csv("./data/UCI_Credit_Card.csv")

In [35]:
data

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [36]:
data.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [4]:
data.drop(labels=["ID"],axis=1,inplace=True)

In [29]:
data.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'Default'],
      dtype='object')

In [6]:
data.rename(columns = {'PAY_0':'PAY_1', 'default.payment.next.month':'Default'}, inplace = True)
data

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Default
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,1,3,1,39,0,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,30000.0,1,2,2,37,4,3,2,-1,0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,80000.0,1,3,1,41,1,-1,0,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,50000.0,1,2,1,46,0,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [7]:
x = data.drop(labels=["Default"],axis=1)

In [8]:
y = data[["Default"]]

In [9]:
x

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
1,120000.0,2,2,2,26,-1,2,0,0,0,...,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,90000.0,2,2,2,34,0,0,0,0,0,...,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,50000.0,2,2,1,37,0,0,0,0,0,...,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,1,3,1,39,0,0,0,0,0,...,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0
29996,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0
29997,30000.0,1,2,2,37,4,3,2,-1,0,...,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0
29998,80000.0,1,3,1,41,1,-1,0,0,0,...,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0
29999,50000.0,1,2,1,46,0,0,0,0,0,...,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0

In [10]:
y

       Default
0            1
1            1
2            0
3            0
4            0
...        ...
29995        0
29996        0
29997        1
29998        1
29999        1

[30000 rows x 1 columns]

In [11]:
numerical_columns = x.select_dtypes(exclude="object").columns

In [12]:
list(numerical_columns)

['LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_1',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6']

In [13]:
from sklearn.impute import SimpleImputer # Handling missing values
from sklearn.preprocessing import StandardScaler # Handling Feature Scaling 
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding 
## Pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [14]:
num_pipeline = Pipeline(

    steps=[

        ("imputer",SimpleImputer()),
        ("scalar",StandardScaler())

    ]

)

In [15]:
preprocessor = ColumnTransformer(

    [
        ("num_pipeline",num_pipeline,numerical_columns)
    ]
)

In [16]:
# Train and Test 

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.40,random_state=42)

In [17]:
preprocessor.fit_transform(x_train)

array([[ 0.24953636,  0.80961526, -1.07164535, ..., -0.30532333,
        -0.18394356, -0.288013  ],
       [-0.36792837, -1.23515458, -1.07164535, ...,  0.56416294,
        -0.05379964, -0.13318135],
       [ 0.86700109,  0.80961526,  0.19250147, ..., -0.18881217,
        -0.18675242,  0.28441367],
       ...,
       [-0.90821001, -1.23515458, -1.07164535, ..., -0.30532333,
        -0.30347623, -0.29364324],
       [-0.75384382,  0.80961526,  0.19250147, ..., -0.23079593,
        -0.30347623, -0.22608034],
       [-0.059196  ,  0.80961526,  0.19250147, ..., -0.20284816,
         0.58287566, -0.20918961]])

In [18]:
preprocessor.transform(x_test)

array([[-1.06257619, -1.23515458,  0.19250147, ..., -0.21216408,
        -0.20984751, -0.18103841],
       [-0.13637909,  0.80961526, -1.07164535, ..., -0.14092832,
        -0.13687953, -0.14337209],
       [-0.75384382,  0.80961526,  1.45664829, ..., -0.1539085 ,
        -0.14742836, -0.14984687],
       ...,
       [-0.52229455, -1.23515458,  1.45664829, ..., -0.181111  ,
        -0.17863794, -0.18103841],
       [ 1.09855037,  0.80961526, -1.07164535, ..., -0.24508035,
        -0.30347623,  0.07710817],
       [-0.90821001,  0.80961526,  0.19250147, ..., -0.2425961 ,
        -0.21608942, -0.23902989]])

In [19]:
preprocessor.get_feature_names_out()

array(['num_pipeline__LIMIT_BAL', 'num_pipeline__SEX',
       'num_pipeline__EDUCATION', 'num_pipeline__MARRIAGE',
       'num_pipeline__AGE', 'num_pipeline__PAY_1', 'num_pipeline__PAY_2',
       'num_pipeline__PAY_3', 'num_pipeline__PAY_4',
       'num_pipeline__PAY_5', 'num_pipeline__PAY_6',
       'num_pipeline__BILL_AMT1', 'num_pipeline__BILL_AMT2',
       'num_pipeline__BILL_AMT3', 'num_pipeline__BILL_AMT4',
       'num_pipeline__BILL_AMT5', 'num_pipeline__BILL_AMT6',
       'num_pipeline__PAY_AMT1', 'num_pipeline__PAY_AMT2',
       'num_pipeline__PAY_AMT3', 'num_pipeline__PAY_AMT4',
       'num_pipeline__PAY_AMT5', 'num_pipeline__PAY_AMT6'], dtype=object)

In [20]:
x_train = pd.DataFrame(preprocessor.fit_transform(x_train),columns=preprocessor.get_feature_names_out())
x_test = pd.DataFrame(preprocessor.transform(x_test),columns=preprocessor.get_feature_names_out())

In [21]:
x_train

,num_pipeline__LIMIT_BAL,num_pipeline__SEX,num_pipeline__EDUCATION,num_pipeline__MARRIAGE,num_pipeline__AGE,num_pipeline__PAY_1,num_pipeline__PAY_2,num_pipeline__PAY_3,num_pipeline__PAY_4,num_pipeline__PAY_5,...,num_pipeline__BILL_AMT3,num_pipeline__BILL_AMT4,num_pipeline__BILL_AMT5,num_pipeline__BILL_AMT6,num_pipeline__PAY_AMT1,num_pipeline__PAY_AMT2,num_pipeline__PAY_AMT3,num_pipeline__PAY_AMT4,num_pipeline__PAY_AMT5,num_pipeline__PAY_AMT6
0,0.249536,0.809615,-1.071645,0.859644,-1.355094,-1.763793,-1.562532,-1.544526,-1.533158,-1.541656,...,-0.667750,-0.664985,-0.664489,-0.623606,-0.275856,-0.211921,-0.258958,-0.305323,-0.183944,-0.288013
1,-0.367928,-1.235155,-1.071645,0.859644,0.271764,0.015819,0.111809,0.143737,0.190890,0.241292,...,-0.389936,-0.530692,-0.432375,-0.590835,-0.235605,-0.161898,-0.202922,0.564163,-0.053800,-0.133181
2,0.867001,0.809615,0.192501,0.859644,0.163306,-0.873987,-0.725362,-0.700395,-0.671134,-0.650182,...,-0.647907,-0.643478,-0.633726,-0.624362,-0.169712,-0.159000,-0.182103,-0.188812,-0.186752,0.284414
3,-1.062576,0.809615,-1.071645,0.859644,-1.029722,0.905625,1.786150,1.832000,1.914939,0.241292,...,-0.443963,-0.430938,-0.403629,-0.374428,-0.211061,-0.180962,-0.285979,-0.270295,-0.234815,-0.237341
4,2.179114,0.809615,-1.071645,0.859644,-0.595894,0.015819,0.111809,0.143737,0.190890,0.241292,...,-0.231871,-0.216150,-0.172351,-0.318153,-0.234219,-0.180542,-0.175237,-0.243217,-0.178638,-0.257216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,-0.908210,-1.235155,0.192501,0.859644,-0.378979,0.015819,0.111809,0.143737,0.190890,0.241292,...,0.122160,0.194489,-0.185043,-0.553027,-0.211061,-0.116145,-0.197883,-0.300852,-0.232693,3.840136
17996,0.249536,-1.235155,-1.071645,0.859644,0.163306,1.795431,1.786150,1.832000,1.914939,2.024241,...,1.732646,1.871400,2.107256,2.233310,0.453059,-0.001762,-0.285979,0.160473,0.071039,-0.068434
17997,-0.908210,-1.235155,-1.071645,0.859644,-1.029722,-1.763793,-1.562532,-1.544526,-1.533158,-1.541656,...,-0.674727,-0.672546,-0.664489,-0.655757,-0.326560,-0.230528,-0.285979,-0.305323,-0.303476,-0.293643
17998,-0.753844,0.809615,0.192501,0.859644,-1.138180,0.015819,0.111809,0.143737,0.190890,2.024241,...,0.056580,-0.128342,-0.194964,-0.185018,-0.153312,-0.154273,-0.036809,-0.230796,-0.303476,-0.226080
17999,-0.059196,0.809615,0.192501,-1.055642,0.054849,-1.763793,-1.562532,-1.544526,-1.533158,-1.541656,...,-0.622687,-0.627069,-0.638203,-0.418549,-0.326560,-0.090981,-0.112390,-0.202848,0.582876,-0.209190

In [22]:
x_test

,num_pipeline__LIMIT_BAL,num_pipeline__SEX,num_pipeline__EDUCATION,num_pipeline__MARRIAGE,num_pipeline__AGE,num_pipeline__PAY_1,num_pipeline__PAY_2,num_pipeline__PAY_3,num_pipeline__PAY_4,num_pipeline__PAY_5,...,num_pipeline__BILL_AMT3,num_pipeline__BILL_AMT4,num_pipeline__BILL_AMT5,num_pipeline__BILL_AMT6,num_pipeline__PAY_AMT1,num_pipeline__PAY_AMT2,num_pipeline__PAY_AMT3,num_pipeline__PAY_AMT4,num_pipeline__PAY_AMT5,num_pipeline__PAY_AMT6
0,-1.062576,-1.235155,0.192501,0.859644,-1.138180,0.015819,0.111809,0.143737,0.190890,0.241292,...,-0.509157,-0.477623,-0.439573,-0.406814,-0.239936,-0.154273,-0.202922,-0.212164,-0.209848,-0.181038
1,-0.136379,0.809615,-1.071645,0.859644,-1.029722,0.015819,0.111809,0.143737,0.190890,0.241292,...,0.993475,0.901418,0.610311,0.641405,-0.067496,-0.069058,-0.110951,-0.140928,-0.136880,-0.143372
2,-0.753844,0.809615,1.456648,-1.055642,-0.378979,0.015819,0.111809,0.143737,0.190890,0.241292,...,0.305029,0.408254,0.485194,0.523011,-0.186171,-0.111875,-0.119865,-0.153909,-0.147428,-0.149847
3,-0.290745,-1.235155,1.456648,0.859644,1.464792,0.015819,0.111809,0.143737,0.190890,0.241292,...,-0.443520,-0.410717,-0.480240,-0.539176,-0.233583,-0.161593,0.102394,-0.303646,0.134144,-0.045462
4,-0.908210,0.809615,0.192501,0.859644,0.054849,0.015819,0.111809,0.143737,0.190890,0.241292,...,-0.069102,-0.369253,-0.331691,-0.329401,-0.211061,-0.173336,-0.230608,-0.193532,-0.303476,-0.237341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,-0.908210,0.809615,0.192501,0.859644,-0.162065,0.015819,0.111809,0.143737,0.190890,0.241292,...,0.012504,0.087948,0.130570,0.175015,-0.164457,-0.115840,-0.130275,-0.181111,-0.178638,-0.181038
11996,2.565029,-1.235155,0.192501,-1.055642,-0.270522,-0.873987,-0.725362,0.143737,-0.671134,0.241292,...,-0.653168,-0.643695,-0.604210,-0.572468,-0.262978,-0.188587,-0.169533,-0.150058,-0.178638,-0.181038
11997,-0.522295,-1.235155,1.456648,0.859644,0.922507,0.015819,0.111809,0.143737,0.190890,0.241292,...,0.650382,0.785843,0.216414,0.265372,-0.084012,-0.081830,-0.072579,-0.181111,-0.178638,-0.181038
11998,1.098550,0.809615,-1.071645,-1.055642,0.380221,-1.763793,-1.562532,-1.544526,-1.533158,-1.541656,...,-0.652253,-0.668827,-0.684593,-0.690576,-0.252930,-0.170591,-0.272690,-0.245080,-0.303476,0.077108
11999,-0.908210,0.809615,0.192501,0.859644,-1.246637,0.015819,0.111809,0.143737,0.190890,0.241292,...,-0.104987,-0.250192,-0.210607,-0.175281,-0.228386,-0.148325,-0.219533,-0.242596,-0.216089,-0.239030

In [23]:
# Model training

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [24]:
import numpy as np
def evaluate_model(true, predicted):
    acc_score = accuracy_score(true,predicted)
    return acc_score

In [25]:
# Train multiple models

models = {
    "LogisticRegression":LogisticRegression(),
    "RandomForestClassifier" : RandomForestClassifier(),
    "SupportVectorMachine" : SVC(),
    "KNeighborsClassifier" : KNeighborsClassifier()
}

In [26]:
acc_list = []
model_list = []

In [27]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(x_train,y_train)

    #Make Predictions
    y_pred=model.predict(x_test)

    #this is a validation(test) score
    acc_score=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("Accuracy Score",acc_score)

    acc_list.append(acc_score)
    
    print('='*35)
    print('\n')

LogisticRegression
Model Training Performance
Accuracy Score 0.8081666666666667
===================================

RandomForestClassifier
Model Training Performance
Accuracy Score 0.81325
===================================


SupportVectorMachine
Model Training Performance
Accuracy Score 0.8180833333333334
===================================


KNeighborsClassifier
Model Training Performance
Accuracy Score 0.7940833333333334
===================================

In [28]:
acc_list

[0.8081666666666667, 0.81325, 0.8180833333333334, 0.7940833333333334]